* {
    
}

body {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
}

header {
    background-color: blueviolet;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: left;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-align: left;
}

header p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 24px;
    color: pink;
}

header img {
    text-align: left;
    max-height: 150px;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}

nav {
    display: flex;
    display: inline;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

nav a {
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    text-align: left;
    font-size: 16px;
    margin-bottom: 20px;
}

.boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 2500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    border: 2px solid darkslategray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 350px;
    margin: 50px 20px 50px 20px;
}

article h2 {
    margin: 15px;
    border: 3px solid black;
    position: top;
    text-align: center;
    bottom: 30px;
    font-family:'Courier New', Courier, monospace;
}

contact {
    flex-direction: column;
    margin-top: 10px;
    display: block;
    text-align: left;
    font-size: 24px;
    color: pink; 
}



a:-webkit-any-link {
    cursor: pointer;
    color: webkit link;
    text-decoration-color: hotpink;
}