body {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
}

header {
    background-color: lavender;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-align: left;
}

h1 {
    line-height: 50px;
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-align: left;
}

header p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 24px;
    color: hotpink;
}

header img {
    text-align: left;
    max-height: 150px;
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    padding: 10px;
    background-color: white;

}

nav {
    display: flex;
    flex-direction: column;
    display: inline;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
}

nav a {
    color: black;
    padding: 14px 20px;
    text-decoration: none;
    text-align: left;
    font-size: 16px;
    margin-bottom: 20px;
}

button {
    width: 200px;
    margin: 10px .5%;
    font-size: 75%;
    color: darkblue;
    background-color: white;
    border: 2px solid black;
}
 button:hover {
    background-color: aqua;
    color: black;
 }

 button:focus {
    outline: none;
    border-color: darkgreen;
 }

.container {
    height: 2000px;
    width: 100%;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table; 
}

#about-me {
    position: relative;
    text-align: center;
    color: darkslategray;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid darkslategray;
    font-size: 24px;
}
#about-me h2 {
    font-family:'Courier New', Courier, monospace;
    font-size: 36px;
    color: darkslategray;
}

#about-me img {
    opacity: 0.5;
    max-height: 400px;
    max-width: 300px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 10px;
    background-color: hotpink;
}

#solo-projects img {
    position: absolute;
    opacity: 0.5;
    max-height: 500px;
    max-width: 500px;
    margin-top: 20px;
    padding: 10px;
    background-color: red;
}

.me {
    height: 300px;
    width: 200px;
    }
.me > img {
    width: 225px;
    height: 300px;
    border-style: solid;
    border-color:  black;
    margin-left: 200px;








#group-projects img {
    position: absolute;
    opacity: 0.5;
    max-height: 500px;
    max-width: 500px;
    margin-top: 20px;
    padding: 10px;
    background-color: skyblue;
}

.contact {
    display: inline;
    flex-direction: column;
    margin-top: 10px;
    display: block;
    text-align: left;
    font-size: 24px;
    font-family:'Courier New', Courier, monospace;
    background-color: lavender;
}

.contact h2 {
    align-text: left;
}
.contact a {
    display: inline;
    margin-right: 30px;
    align-text: right;
}

h3 {
    text-align: center;
}
@media screen and (max-width: 992px) {
    header, 
    .contact {
       flex-direction: column;
    }

 @media screen and (max-width: 768px) {
        body,
        nav {
          flex-direction: column;
        }
      }

}
a:-webkit-any-link {
    cursor: pointer;
    color: webkit link;
    text-decoration-color: hotpink;
}


/*
.boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /*max-width: 2500px;*/
   /* margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    border: 5px solid darkslategray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 400px;
    height: 550px;
    margin: 20px 100px 20px 10px;
}
.card p {
    font-size: 20px;
}

.card a {
    margin-top: 25px;
    margin-bottom: 25px;
    margin: 20px;
    border: 2px solid orange;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bold;
    font-size: 20px;
}

article h2 {
    margin: 15px;
    border: 3px solid black;
    position: top;
    text-align: center;
    bottom: 30px;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
}

article p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    font-weight: bold;
    
*/

